@font-face{
	font-family: AdobeArabic;
	src: url("adobe_arabic_regular.otf") format("opentype");
}
body,input,button{
	font-family: AdobeArabic, sans-serif;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.20em;
	color: rgb(253,224,166);
}
form,h3{
	margin: 10px;
}
h3{
	text-align: center;
}
.artwork{
	width: 100%;
	margin-top: 10px;
}
.wrapper{
	width: 100%;
	text-align: center;
}
.embed-music{
	margin-top: 10px;
	margin-bottom: 100px;
}
.logo{
	height: 50px;
}
.background-image{
	position: fixed;
	left: 0;
	right: 0;
	z-index: -2;
	display: block;
	background-image: url("images/joe.jpg");
	width:100%;
	height:100%;
	background-position: center top;

	-webkit-filter: blur(5px) brightness(0.5);
	-moz-filter: blur(5px) brightness(0.5);
	-o-filter: blur(5px) brightness(0.5);
	-ms-filter: blur(5px) brightness(0.5);
	filter: blur(5px) brightness(0.5);
}
.btn-primary{
	background-color: rgb(253,224,166);
	color: black;
	border-style:none;
}
.btn-primary:hover{
	color: rgb(253,224,166);
	background-color: DimGrey;
	border-style:none;
}
.embed-responsive-16by9{
	position:absolute;
	max-width: 90%!important;
	max-height: calc(100% - 300px);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-52%);
	z-index:-1;
}
.bg-dark{
	background-color: black!important;
}
.nav-link{
	font-size: 2em!important;
}
.navbar .navbar-nav>.active>.nav-link{
	color: rgb(253,224,166)
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}
.socials{
	margin: 10px 10px;
}
.fa{
	font-size: 36px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.fa:hover{
	color: white;
	text-decoration: none;
	opacity: 0.7;
}
@media (max-width: 768px){
	.socials{
		text-align: center;
	}
}
