:root{
	--pylons-mag: #fc23dd;
	--pylons-cya: #93f1fe;
	--pylons-ora: #fecd8d;
}
@font-face{
	font-family: AdobeArabic;
	src: url("vcr.ttf") format("truetype");
}
body,input,button{
	font-family: AdobeArabic, sans-serif;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.20em;
	color: var(--pylons-ora);
	text-shadow: 1px 1px var(--pylons-mag);
}
form,h3{
	margin: 10px;
}
h3{
	text-align: center;
}
.artwork{
	width: 100%;
	margin-top: 10px;
}
.wrapper{
	width: 100%;
	text-align: center;
}
.embed-music{
	margin-top: 10px;
	margin-bottom: 100px;
}
.logo{
	height: 70px;
}
.background-image{
	position: fixed;
	left: 0;
	right: 0;
	z-index: -2;
	display: block;
	width:100%;
	height:100%;

	background: url(images/texture.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	transform: scale(1.1);
	-webkit-filter: blur(5px) brightness(0.5);
	-moz-filter: blur(5px) brightness(0.5);
	-o-filter: blur(5px) brightness(0.5);
	-ms-filter: blur(5px) brightness(0.5);
	filter: blur(5px) brightness(0.5);
}
.btn-primary{
	background-color: var(--pylons-ora);
	color: black;
	border-style:none;
}
.btn-primary:hover{
	color: var(--pylons-ora);
	background-color: darkgrey;
	border-style:none;
}
.embed-responsive-16by9{
	position:absolute;
	max-width: 100%!important;
	max-height: calc(100%);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-52%);
	z-index:-1;
}
.bg-dark{
	background-color: black!important;
}
.navbar{
	border-bottom: 3px solid var(--pylons-ora);
}
.navbar:before{
	content: " ";
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-bottom: 6px solid var(--pylons-mag);
	pointer-events: none;
}
.navbar:after{
	content: " ";
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-bottom: 3px solid var(--pylons-cya);
	pointer-events: none;
}
.nav-link{
	font-size: 2em!important;
	text-shadow: 1px 1px var(--pylons-mag);
	color: var(--pylons-cya)!important;
	opacity: 0.7
}
.nav-link:hover{
	opacity:0.9
}
.navbar .navbar-nav>.active>.nav-link{
	color: var(--pylons-mag)!important;
	text-shadow: 2px 2px var(--pylons-ora);
	opacity: 1;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  border-top: 3px solid var(--pylons-ora);
}
.footer:before{
	pointer-events: none;
	content: " ";
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: 6px solid var(--pylons-mag);
}
.footer:after{
	content: " ";
	pointer-events: none;
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: 3px solid var(--pylons-cya);
}
.socials{
	margin: 10px 10px;
}
.fa{
	font-size: 36px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	color: var(--pylons-cya);
}
.fa:hover{
	color: var(--pylons-cya);
	text-decoration: none;
	opacity: 0.7;
}
@media (max-width: 768px){
	.socials{
		text-align: center;
	}
}
